* {
    font-size: 20px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-size: cover;
    width: 99.5%;
    margin: auto;
    background-image: url(../images/photo-1580582932707-520aed937b7b.jpeg);
    background-attachment: fixed;
    background-position: center;
 
}

.header {
    background: linear-gradient(gray, rgb(51, 51, 109));
    color: blue;
    border-bottom: 3px solid blue;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    /* background: rgb(0, 0, 0,); */
    position: fixed;
    top: 0;
}

.header h {
    font-size: 35px;
    flex-wrap: wrap;
    box-shadow: 0 8px 16px 0;
    background: rgb(154, 154, 207);
    padding: 4px 10px;
    border-radius: 15px;
    float: left;
    margin-left: 6px;
    /* display: inline-flex; */
}

.header h span{
    font-size: 35px;
    color: rgb(255, 255, 0);
}

.header p{
    /* float: right; */
    display: inline-flex;
    margin: 10px;
    flex-wrap: wrap;
    margin-left: 30px;
    float: right;
    
}
.header h6{
    color: #fff;
    text-align: center;
}

.header p a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    font-style: italic;
}

.header p :hover{
    color: rgb(152, 152, 199);
    transform: translateY(-2px);
 
}

.header p img {
    height: 25px;
    width: 25px;
    float: left;
    border-radius: 50px;
}

.container {
    width: 100%;
    display: inline-flex;
    margin: 0 auto;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.4);
    height: 100%;
    
}

.body li {
    list-style: none;
    margin: 100px;
    display: inline-flex;
    font-size: 30px;
    text-align: center;
}

.body a {
    text-decoration: none;
    color: white;
}

.body li :hover {
    background: gray;
    transform: translateY(-5px);
}


.MyLoginForm {
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    height: 100%;
    margin-top: 68px;
    margin-bottom: 170px;
}

.submit :hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px 0 rgb(39, 5, 5);
    background: rgb(57, 57, 168);
}
.submit button{
    background: rgb(0, 0, 255);
    border: none;
    width: 100%;
    padding: 8px 16px;
    color: #fff;
    border-radius: 18px;
}
.row {
    display: inline-flex;
}

.MyLoginForm img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.head {
    text-align: center;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}

.MyLoginForm input {
    border-radius: 10px;
    padding: 10px 10px;
    width: auto;
    background: white;
    border: 0;
    font-size: 18px;
}

.LinkBar {
    background-color: #bccece;
    height: 100%;
    margin-left: 0;
    position: fixed;
    right: 0;

}

.LinkBar li a img {
    width: 30px;
    height: 30px;
    margin: 20px;
    margin-left: 3px;

}

.LinkBar li {
    list-style: none;
    margin-left: 0;
}

.LinkBar a {
    text-decoration: none;
    margin-left: 0;
}

.all {
    display: inline-flex;
    width: 100%;
}

.prof {
    box-shadow: 0 8px 16px 0 black;
    height: fit-content;
    width: fit-content;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 12px auto 12px 7px;
    text-align: left;
    padding: 15px 15px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.prof h1{
    display: inline-flex;
    font-size: 30px;
    color: blue;
    margin: 0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.prof h3{
    display: inline-flex;
    font-size: 20px;
}
.prof h4{
    display: inline-flex;
}
.prof p{
    display: inline-flex;
    font-size: 18px;
    color: blue;
}
.prof li{
    list-style: none;
    text-align: center;
    display: inline-flex;
    margin: 12px;
}
.prof li a{
    color: blue;
    font-weight: bolder;
}
.prof li  :hover{
    color: rgb(46, 48, 134);
    transform: translateY(-4px);
}

.prof img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.messages p{
    color: red;
    font-weight: bolder;
    font-style: italic;
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profilepic img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    float: left;
}

.item1 {
    text-align: center;
    color: #000;
    width: fit-content;
    box-shadow: 0 8px 16px 0;
    margin-top: 10px;
    margin: 10px auto;
    margin-left: 50px;
    margin-right: 50px;
    padding: 8px 8px;
    border-radius: 18px;
}

.item2 {
    text-align: center;
    color: #000;
    width: fit-content;
    box-shadow: 0 8px 16px 0;
    margin-top: 10px;
    margin: 10px auto;
    margin-left: 50px;
    margin-right: 50px;
    padding: 8px 8px;
    border-radius: 18px;
}

.item3 {
    text-align: center;
    color: black;
    width: fit-content;
    box-shadow: 0 8px 16px 0;
    margin-top: 10px;
    margin: 10px auto;
    margin-left: 50px;
    margin-right: 50px;
    padding: 8px 8px;
    border-radius: 18px;
}

.item4 {
    text-align: center;
    color: #000;
    width: fit-content;
    box-shadow: 0 8px 16px 0;
    margin-top: 10px;
    margin: 10px auto;
    margin-left: 50px;
    margin-right: 50px;
    padding: 8px 8px;
    border-radius: 18px;
}

.item4 li {
    list-style: none;
    background: rgb(0, 0, 255);
    padding: 7px 7px;
    border-radius: 15px;
    margin: 15px;
    width: fit-content;
    display: inline-flex;
}

.item4 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.time {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: fit-content;
    overflow: hidden;
    flex-wrap: wrap;
    padding-left: 7px;
    margin: 0 auto;
}

.footer {
    background: linear-gradient(rgb(51, 51, 109), gray);
    border-top: 3px solid blue;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer h3 {
    color: white;
    font-size: 20px;
}

.footer h2 {
    font-size: 18px;
    font-style: italic;
    font-weight: bolder;
}
.footer h2 a{
    color: #fff;
    text-decoration: none;
}

.footer li {
    list-style: none;
    text-align: center;
    color: rgb(0, 0, 255);
    font-weight: bolder;
    font-style: italic;
    margin: 2px;
    
}

.footer li img {
    height: 30px;
    width: 30px;
}

.container fieldset{
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 7px 0 rgb(0, 0, 0);
    margin:0 auto;
    padding: 20px 10px;
    border-radius: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}

fieldset small a{
   float: right;
   font-weight: bolder;
   font-style: italic;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inlineForm{
    display: inline-flex;
   
}
.faliureBox {
    color: rgb(168, 43, 43);
    background-color: rgb(226, 210, 210);
    border: 1px red solid;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 10px;
    margin-bottom: 7px;
    font-weight: bolder;
    padding: 3px 10px;
    border-radius: 3px;
}

.successBox{
    width: fit-content;
    margin: 0 auto;
    font-size: 10px;
    padding: auto 15px;
    color: green;
    font-weight: bolder;
    background-color: rgb(201, 227, 201);
    padding: 3px 10px;
    border: green solid 1px;
    border-radius: 3px;
    

}
.admintools{
    margin: 0 auto;
    margin-bottom: 5px;
}

.admintools li{
    list-style: none;
    display: inline-flex;
    margin: 7px;
   
}
.admintools a{
    text-decoration: none;
    background: blue;
    color: white;
    padding: 8px 8px;
    border-radius: 10px;
    
    margin-top: 20px;
}
.admintools input{
background: blue;
color: #000;
color: #fff;
}

.admintools .serchBox{
    color:  #000;
    background: white;
    box-shadow: 0 8px 16px 0 #000;

}
.users{
    width: 400px;
    height: 390px;
    border: 2px solid blue;
    overflow: auto;
    border-radius: 2px;
    overflow-x: hidden;
    margin: 12px 15px;
    text-align: left;
    margin: 0 auto;
    background: #000000b3;
}
.users small{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    background: blue;
    text-align: center;
    color: #fff;
    width: 400px
}
.users h2{
    margin: 25px 15px 0 25px;
}
table{
    background: #000000b3;
    width: fit-content;
    color: white;
    margin: 0 auto;
    height: fit-content;
    border: none;
    margin-top: 12px;
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
    
}
table th{
    font-size: 16px;
    background-color: rgb(0, 0, 255);
    color: #fff;
}
table td{
    font-size: 14px;
    text-align: left;
}
.users a{
    text-decoration: none;
    color: #fff;
    margin:12px;
    
}
td a:hover{
    color: blue;
}
.editbtn{
    padding: 2px 3px;
    border-radius: 7px;
}
.deletebtn{
    padding: 2px 3px;
    border-radius: 7px;
}
.editbtn a{
    color: #fff;
}
.deletebtn a{
    color: #fff;

}
.editbtn img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.deletebtn img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.errorMsg{
    color: red;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bolder;
    margin: 0 auto;
}
select{
    padding: 10px 8px;
    border-radius: 10px;
}

.delete{
    float: right;
}
.delete li a{
    color: red;
}
.hidden input{
    display: none;
}
.label {
    background: green;
    padding: 12px 14px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.uploadbtn {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin-top: 18px;
    border-radius: 12px;
    cursor: pointer;
}
.uploadbtn :hover {
    color: rgb(46, 48, 134);
    transform: translateY(-4px);
}
.denied{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.denied h1 {
    color: rgb(255, 0, 0);
    font-size: 55px;
    text-shadow: 3px 3px blue;

}
.currrentLink{
    background: #798484;
}

.counters{
    width: 100%;
}
.counters section{
    display: inline-flex;
    margin: 5px 2px;
    padding: 10px 10px;
    flex-wrap: wrap;
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
}
.counters .student{
    background: purple;
}
.counters .parent{
    background: orange;
}
.counters .teacher{
    background: rgb(0, 225, 255);
}
.counters .subject{
    background: yellowgreen;
}

.counters .class{
    background: blueviolet;
}
.paylinks a{
    text-decoration: none;

}
.paylinks{
    text-align: left;
}
.counters .admin{
    background: red;
}
